@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Inter:wght@400;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);}	

	.custom-container {
		flex: 1;
		display: flex;
		align-items: center;
		position: relative;
		margin-top: -2.4rem; /* Equivalent to -mt-24 in Tailwind */
		height: 33rem; /* Equivalent to h-64 in Tailwind */
	  }
	  
	  @media (min-width: 768px) {
		.custom-container {
		  margin-top: 0; /* Equivalent to md:mt-0 in Tailwind */
		}
	  }

.main {
	width: 100%;
	height: auto;
	display: grid;
	place-items: center;
	background-color: rgb(245, 245, 245);
	padding: 50px 0;
}
.main .head {
	font-size: 29px;
	color: rgba(91, 14, 216, 0.767);
	position: relative;
	margin-bottom: 100px;
	font-weight: 500;
  font-family: 'Inter', sans-serif;

}
.main .head::after {
	content: " ";
	position: absolute;
	width: 50%;
	height: 3px;
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%);
	background-image: linear-gradient(to right, rgba(91, 14, 216, 0.767), rgba(238, 12, 200, 0.747));
}

/* Container Css Start  */

.container {
	width: 70%;
	height: auto;
	margin: auto 0;
	position: relative;
}
.container ul {
	list-style: none;
}
.container ul::after {
	content: " ";
	position: absolute;
	width: 2px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-image: linear-gradient(to bottom, rgba(91, 14, 216, 0.767), rgba(238, 12, 200, 0.747));
}
.container ul li {
	width: 50%;
	height: auto;
	padding: 15px 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.218);
	position: relative;
	margin-bottom: 30px;
	z-index: 99;
  font-family: 'Inter', sans-serif;
}
.container ul li:nth-child(4) {
	margin-bottom: 0;
}
.container ul li .circle {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #e100ff7a;
	top: 0;
	display: grid;
	place-items: center;
}
.circle::after{
	content: ' ';
	width: 12px;
	height: 12px;
	background-color: #7f00ff;
	border-radius: 50%;
}
ul li:nth-child(odd) .circle {
	transform: translate(50%, -50%);
	right: -30px;
}
ul li:nth-child(even) .circle {
	transform: translate(-50%, -50%);
	left: -30px;
}
ul li .date {
	position: absolute;
	width: 130px;
	height: 33px;
	background-image: linear-gradient(to right,#7f00ff,#e100ff);
	border-radius: 15px;
	top: -45px;
	display: grid;
	place-items: center;
	color: #fff;
	font-size: 17px;
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}
.container ul li:nth-child(odd) {
	float: left;
	clear: right;
	text-align: right;
	transform: translateX(-30px);
}
ul li:nth-child(odd) .date {
	right: 20px;
}
.container ul li:nth-child(even) {
	float: right;
	clear: left;
	transform: translateX(30px);
}
ul li .heading {
	font-size: 25px;
	color: rgb(91, 14, 216);
}
ul li p {
	font-size: 15px;
	color: #666;
	line-height: 18px;
	margin: 6px 0 4px 0;
}
ul li a {
	font-size: 13px; /* Link tag add karunga tab dikhega links*/
	text-decoration: none;
	color: rgb(18, 54, 214);
	transition: all 0.3s ease;
}


@media only screen and (min-width:798px) and (max-width: 1100px) {
	.container{
		width: 80%;
	}
}

@media only screen and (max-width: 798px) {
	.container{
		width: 70%;
		transform: translateX(20px);
	}
	.container ul::after{
		left: -40px;
	}
	.container ul li {
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 80px;
	}
	.container ul li .circle{
		left: -40px;
		transform: translate(-50%, -50%);
	}
	.container ul li .date{
		left: 20px;
	}
	.container ul li:nth-child(odd) {
		transform: translateX(0px);
		text-align: left;
	}
	.container ul li:nth-child(even) {
		transform: translateX(0px);
	}
}

@media only screen and (max-width: 550px) {
	.container{
		width: 80%;
	}
	.container ul::after{
		left: -20px;
	}
	.container ul li .circle{
		left: -20px;
	}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes borderAnimation {
  0% {
    transform: scaleX(0);
    transform-origin: center;
  }
  100% {
    transform: scaleX(1);
    transform-origin: center;
  }
}

.animate-border-animation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: lightPrimary;
  animation: borderAnimation 0.25s ease-in-out forwards;
}

.image-container {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}